* {
  margin: 0;
  padding: 0;
  background-color: #81edae;
  box-sizing: border-box;
  border: 2px solid red;
}

header {
  display: flex;
  margin: 10px;
  text-align: center;
}
h1 {
  flex: 1;
}

.login-button {
  background-color: black;
  color: white;
  padding: 5px 25px;
  margin: 5px;
  width: 90px;
  text-align: center;
  border-radius: 15px;
}

.library-data {
  display: flex;
  height: 20px;
  align-content: space-between;
  border: 2px solid green;
  padding: 20px;
  margin: auto 30%;
}
