* {
  margin: 0;
  padding: 0;
  background-color: #81edae;
  box-sizing: border-box;
  color: #000000;
  /* border: 2px solid red; */
}

@font-face {
  font-family: "myCustomFont";
  src: url(./Assets/fonts/FiraCode-VariableFont_wght.ttf);
}
body {
  height: 100vh;
  font-family: "myCustomFont", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #81edae;
}

header {
  display: flex;
  margin: 5px;
  text-align: center;
  justify-content: space-between;
  height: 8vh;
}
h1 {
  font-size: 20px;
  flex: 1;
  padding: 3px;
  margin: 3px;
  text-shadow: 1px 1px 2px white;
}

.login-button {
  background-color: black;
  color: white;
  padding: 3px 20px;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
  font-size: 10px;
}

.header-icon {
  display: flex;
  align-items: center;
  padding: 3px 20px;
}
.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 48;
}

.library-info {
  display: flex;
  height: 20px;
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  margin: 5px auto;
  align-items: center;
  justify-content: space-between;
}

section {
  height: 89%;
  background-color: white;
  border-radius: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.add-book {
  padding: 5px 20px;
  margin: 0px;
}
